<ul class="menu">
    {% for item in menu_tree %}
        <li class="menu-item {% if item.is_active %}active{% endif %} level-{{ item.level }}">
            <a href="/menu/{{ item.item.get_url }}/" style="{% if item.is_active %}color: red; {% else %}color: black;{% endif %}">
                {{ item.item.title }}
                {% if item.children %}
                    <span class="toggle">
                        [{% if item.should_expand %}-{% else %}+{% endif %}]
                    </span>
                {% endif %}
            </a>
            
            {% if item.children and item.should_expand %}
                {% include "menu/menu.html" with menu_tree=item.children %}
            {% endif %}
        </li>
    {% endfor %}
</ul>

